html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2F4F30;
}

.title{
  text-align: center;
  background-color: black;
  color: #FFF;    
  padding: 20px;
  font-size: 1.5em;
}

h1{
  color: #FFF;
}

.divCards{
  height: 30vh;
  margin-top: 30px;
}

div.row.container{
  margin-top: 5vh
}

.card{
  display: inline-block;
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -90px;
}
